@media screen and (max-width: 699px) {
  #root > div > nav > div > div.navbar-collapse.collapse > ul > li.dropdown.open > ul {
    index: 0;
    display: block;
  }
}

* {
  margin: 0;
}
#root > div > nav {
  margin-bottom: 0;
  background-color: rgba(11, 12, 9, 0.62);
  height: 75px;
  padding-top: 10px;
}

#root > div > nav a {
  color: aqua;
}

#root > div > nav a:hover {
  color: rgba(18, 140, 112, 1);
}

#basic-nav-dropdown {
  background: none;
}

#root > div > nav > div > div.navbar-collapse.collapse > ul > li.dropdown.open > ul {
  background-color: rgba(11, 12, 9, 0.62);
}

#root > div > nav > div > div.navbar-collapse.collapse > ul > li.dropdown.open > ul > li a:hover {
  background: none;
}
